/* Variables for color */

    $background_color: rgba(255, 255, 255, 0.993);
    $signature-color: #11ABB0;
    $hover-color: rgba(143,150,162,0.5);
    $home-section-color:#eaf3f3;
    $home-section-selection-color:gray;
    $make-me-fancy-color:#fff;
    $button-active-color:#3d4145;
    $button-getInTouch-color:#eff5f5;
    $form-section-color: rgb(240, 240, 255);
    $input-area-color: rgb(228, 222, 222);
    $form-background-color:white;
    $ghost-me-white: ghostwhite;
    $footer-color:slategray;
    $testimonial-color:lavenderblush;
    $price-tab-color:black;
    $about-company-color:cornsilk;
    $service-section-color:blanchedalmond;
    $header-section-color:slategray;

/* Define Font Family   */
$font-stack: Arial, Helvetica, sans-serif;