.styleMe-field, .expand-btn {

    height:40px;
    width:200px;
    margin:10px;
    border-radius: 5px; 

}


.Upper-Div {
    padding:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: antiquewhite;

}